body {
        color: #091d26 !important;
    font-size: 0.95rem;
}

.navigation-menu > li > a {

}

.table {
    color: #565656 !important;
}

.table-hover tbody tr:hover {
    color: white !important;
    background-color: #2f96b4 !important;
    cursor: pointer;
}
