.theme-button{
    left: 0px !important;
    z-index: 1 !important;
}
.simple-icon-magic-wand{
    left: 0px !important;
    z-index: 1 !important;
}

html {
    background: #ffffff; !important;}
body {
    background: #ffffff; !important;}

.anasayfa-cards {
    border: 1px solid #3195a5 !important;
    border-radius: 20px !important;
}
@media (max-width: 575px) {
    .anasayfa-cards {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-top: 1rem !important;
        padding-bottom: 0.75rem !important;
    }
}
.anasayfa-cards-icon {
    color: #3195a5;
    font-size: 25px;
}
.anasayfa-cards-text {
    color: #3195a5;
    font-size: 15px;
}

.musteri-call-icon {
    font-size: 25px !important;
    position:absolute;
    top:20px;
    right:10px;
}

.search-sm input {

}


.textbox-b-line {
    border: none;
    border-bottom:solid 1px #000000 !important;
    height: 25px;
}

.anadiv-default-transition{
    margin-top: 20px !important;
}
.main-menu-css{
    border: 1px solid #3195a5 !important;
    border-top-right-radius:  20px !important;
    border-bottom-right-radius:  20px !important;
}

.main-menu-css ul li a {
    height: 70px !important;
}

.menu .main-menu {
    text-align: center !important;
}


.stok-mamul-sat-button{
}
.stok-mamul-yazdir-button{
    position: absolute !important;
    right: 40px !important;
    margin-top: -180px !important;
}.stok-hammadde-yazdir-button{
    position: absolute !important;
    right: 40px !important;
    margin-top: -350px !important;
}
.stok-mamul-toplam-dm3{
    left: 1000px !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    visibility: hidden !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before {
    visibility: hidden !important;
}

.data-table-rows table {
    border-spacing: 0 0rem !important;
}

.dataTables_wrapper .paginate_button.page-item {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.stok-tablo-arama-button{
    float:right;
}
